<nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow-sm">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-bold fs-4" routerLink="/dashboard">
      <i class="bi bi-speedometer2 me-2"></i> SMART PARK
    </a>

    <!-- Toggler (for mobile) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="ms-auto d-flex gap-2">
        <a routerLink="/dashboard" class="btn btn-outline-light px-4">Home</a>
        <button class="btn btn-danger" (click)="onLogout()">Log Out</button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
