.login-bg {
  background: url("https://images5.alphacoders.com/351/351885.jpg")
    no-repeat center center;
  background-size: cover;
}

.card {
  border: none;
  background: rgba(255, 255, 255, 0.9); /* semi-transparent for readability */
}
