h1 {
  font-size: 2.2rem;
  color: #2575fc;
}

.card {
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
}

/* Optional: small visual polish */
.card-bodys {
  padding: 1.5rem 1.25rem;
}
.form-label {
  font-weight: 600;
}
